*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
html {
  font-size: 62.5%;
}
#wrapper {
  width: 100%;
}
#wrapper2 {
  text-align: right;
}
img {
  vertical-align: middle;
}
/* MY CSS */
svg {
  width: 20%;
  height: 10%;
}
nav {
  padding: 1rem;
  font-size: 1rem;
  background-color: black;
  margin-bottom: 2rem;
  color: white;
}
nav a:hover {
  color: #777
}
section {
  width: 75%;
  padding: 4rem;
  font-size: 2rem;
  background-color: #125168;
  color: white
}
footer {
  padding: 1rem;
  font-size: 1rem;
  background-color: black;
  margin-top: 2rem;
  color : white;
}
p {
  text-align: right;
  top: auto;
}
.nav-child {
  float: left;
}
.nav-child-1 {
  width: 20%;
}
.nav-child-2 {
  width: 60%;
  text-align: center;
  color: black;
  font-size: 110%;
  background-color: white;
}
.nav-child-3 {
  width: 20%;
}
.clear {
  clear: both;
}
.contactus {
  text-align: left;
  color: black;
  font-size: 110%;
  background-color: white;
}
